<%- include('footer') %>
<h1>Form Page</h1>

<div>
  <form action="/submit" method="POST">
    <input type="text" name="userName" placeholder="Enter your name" required />

    <br />
    <br />

    <input type="submit" value="Submit" />

    <br />
    <br />

    <p>
      Name: <% if (message) { %>
      <span><%= message %></span>
      <% } else { %>
      <span>No Name</span>
      <% } %>
    </p>
  </form>
</div>

<%- include('footer') %>
