<%- include('footer') %>
<h1>Form Page</h1>

<div
  style="
    display: flex;
    justify-content: space-around;
    border: 1px solid brown;
    padding: 2px;
  "
>
  <form action="/submit" method="POST">
    <input type="text" name="userName" placeholder="Enter your name" required />

    <br />
    <br />

    <input type="submit" value="Submit" />

    <br />
    <br />

    <p>
      Name: <% if (message) { %>
      <span><%= message %></span>
      <% } else { %>
      <span>No Name</span>
      <% } %>
    </p>
  </form>

  <div>
    <img src="img/t.png" alt="logo" style="width: 150px;" />
  </div>
</div>

<%- include('footer') %>
